.navitems{
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex: 1;
    justify-content: flex-start;
    justify-self: center;
  }
  
.nav_item{
    margin-left:15px;
    font-size: 20px;
    color: black;
    align-self: center;
  }


/* Style for the frame */
.frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Style for the contact information */
.contact-info {
    flex: 1;
    text-align: center;
    margin: 20px;
}

.contact-info h2 {
    margin-bottom: 10px;
}

.contact-info h3 {
    margin-top: 20px;
}

.contact-info p {
    margin-bottom: 20px;
}
.dotted-line {
    width: 2px;
    height: 600px; /* Adjust height as needed */
    border-left: 2px dotted #333; /* Dotted line style */
    margin: 0 20px; /* Adjust margin as needed */
}

/* Style for the call service image */
.call-service {
    flex: 1;
    text-align: left;
}

.call-service img {
    margin-left: 10px;
    max-width: 200%;
}

/* Style for the car images */
.car-images {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-images img {
    margin: 100px;
    width: 500px; /* Set the desired width */
    height:500px; /* Maintain aspect ratio */
}

